extends layout

block content
  .container.text-center
    h1 Enlightenment Bot
    h2.muted
      a(href='http://www.twitter.com/gumonjiho') @gumonjiho
    p The <em>Gumonji-ho</em> is a Shingon Buddhist rite where the mantra of the Bodhisattva Kokuzo Bosatsu is recited 1,000,000 times in a row.
    p The Enlightenment Bot chants this mantra 10,000 times per day, reaching enlightenment after 100 days.
    
