extends layout

block content
  .container.text-center
    h1 Enlightenment Bot
    h2.muted
      a(href='http://www.twitter.com/gumonjiho') @gumonjiho
    p The <em>Gumonji-ho</em> is a Shingon Buddhist practice where the Mantra of the Buddhist deity Kokuzo Bosatsu is recited 1,000,000 times.
    p Enlightenment bot chants the Kokuzo Bosatsu mantra every 5 minutes. It will achieve enlightenment in the year 2022.
    
